---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import '@/styles/global.css'
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="project" />
  <Breadcrumbs items={[{ label: 'project', icon: 'lucide:sparkle' }]} />
  <h1 class="mb-6 ">In Progress...</h1>
</Layout>
